* {
	background-color: #251A24;
}

body {
	width: 24em;
	width: 35vmax;
	max-width: 85%;
	max-height: 100%;
	margin: auto;
	color: #E3CF9E;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: "Work Sans", sans-serif;
	font-size: 42px;
	font-size: 4vmax;
	text-align: center;
	padding-bottom: 0.3em;
}

h2 {
	font-family: "Work Sans", sans-serif;
	font-size: 20px;
	font-size: 1.875vmax;
	padding-top: 2em;
	padding-bottom: 0.3em;
}

p {
	font-family: "Taviraj", serif;
	line-height: 1.7em;
	text-indent: 1.5em;
	font-size: 16px;
	font-size: 1.5vmax;
	text-align: justify;
	text-justify: inter-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}